@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
}

body {
	margin-left: 80px;
	margin-top: 80px;
	transition: margin-left 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
	height: calc(100vh - 80px);
}

section {
	padding: 20px;
}

/* Menu Principal */
header {
	width: 100%;
	height: 80px;
	background: #f5f5f5;
	display: flex;
	position: fixed;
	top: 0;
	z-index: 200;
	justify-content: space-between;
}

.log_out_container {
	position: absolute;
	top: 0;
	right: 7%;
	margin-right: 8px;
	height: 100%;
	display: flex;
	align-items: center;
	padding: 0 20px;
	transition: right 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
	cursor: pointer;
}

.icon__menu {
	width: 50px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: translateX(10px);
	cursor: pointer;
}

.icon__menu i {
	font-size: 20px;
	position: absolute;
}
/* Fin menu principal */

/* Menu lateral */
.menu__side {
	width: 80px;
	height: 100%;
	background: #1275b8;
	position: fixed;
	top: 0;
	left: 0;
	color: white;
	font-size: 18px;
	z-index: 300;
	overflow: hidden;
	overflow-y: hidden;
	border-right: 20px solid #1275b8;
	transition: all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

/*Ocultar scroll para chrome, safari y opera*/
.menu__side::-webkit-scrollbar {
	display: none;
}

/*Ocultar scroll para IE, Edge y Firefox*/
.menu__side {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.name__page {
	padding: 20px 20px;
	display: flex;
	align-items: center;
	margin-top: 10px;
}

.name__page img {
	width: 40px;
	margin-right: 20px;
}

.options__menu {
	padding: 20px 30px;
	position: absolute;
	top: 80px;
}

.options__menu a {
	color: #ffffffb2;
	cursor: default;
	display: block;
	position: relative;
	transition: color 300ms;
}

.options__menu a:hover {
	color: white;
}

.options__menu .option {
	padding: 20px 0px;
	display: flex;
	align-items: center;
	position: relative;
}

.options__menu .option i {
	width: 20px;
	margin-right: 20px;
	cursor: pointer;
}

.options__menu .option h4 {
	font-weight: 300;
	cursor: pointer;
}

a.selected {
	color: #fff;
}

.selected:before {
	content: '';
	width: 3px;
	height: 80%;
	background: white;
	position: absolute;
	top: 10%;
	left: -30px;
}
/* Fin menu lateral */

/*Clases para usar en JavaScript*/
.body_move {
	margin-left: 250px;
}

.menu__side_move {
	width: 250px;
}

.log_out_container_move {
	right: 16%;
}
/* Fin clases para usar JavaScript */

/*Seccion inicio*/
/* Imagen y texto bienvenida */
.imagen_fondo {
	position: relative;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url(../img/img-fondo.jpeg);
	top: 0;
	left: 0;
	width: 100%;
	height: calc(100vh - 80px);
	background-size: cover;
	background-position: center;
}

.banner {
	width: 100%;
	height: calc(100vh - 80px);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	align-items: center;
	margin-top: 80px;
}

.banner-text {
	width: 100%;
	max-width: 800px;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
	text-align: center;
}

.titulo {
	font-size: 2.9em;
	color: #ffffff;
	text-align: center;
	margin-bottom: 30px;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-weight: bold;
	margin-top: -100px;
}

.description {
	text-align: justify;
	background-size: cover;
	color: #fff;
	font-size: 18px;
}

/* Diseño del registro */
#registro {
	display: flex;
	align-items: center;
	justify-content: center;
}

.container {
	align-items: center;
	position: relative;
	max-width: 800px;
	width: 100%;
	padding: 25px;
	border-radius: 8px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.container h2 {
	font-size: 1.5rem;
	color: #e2802d;
	font-weight: 700;
	text-align: center;
}

.container .form {
	margin-top: 10px;
}

.form .input-box {
	width: 100%;
	margin-top: 10px;
}

.input-box label {
	color: #e2802d;
	font-weight: 600;
}

.form .input-box input,
.form .bedroom-field select {
	position: relative;
	height: 30px;
	width: 100%;
	outline: none;
	font-size: 0.7rem;
	margin-top: 8px;
	border: 1px solid #000000;
	border-radius: 6px;
	padding: 0 10px;
}

.form .column {
	display: flex;
	column-gap: 15px;
}

.form button {
	height: 40px;
	width: 100%;
	color: #fff;
	font-size: 1rem;
	border: none;
	margin-top: 30px;
	cursor: pointer;
	border-radius: 6px;
	font-weight: 600;
	transition: all 0.2s ease;
	background-color: #e2802d;
}

.form button:hover {
	background-color: rgb(188, 113, 47);
}
/* Fin diseño del registro */

/* Responsive */
@media screen and (max-width: 760px) {
	/* Responsive Menu */
	.body_move {
		margin-left: 0px;
	}

	.menu__side_move {
		width: 80px;
		left: -80px;
	}

	header {
		justify-content: space-between;
	}
	.log_out_container {
		right: 0;
		margin-right: 0;
	}

	.log_out_container_move {
		right: 20%;
	}
	/* Fin menu */

	/* Responsive Home */
	.banner {
		padding-top: 50px;
	}
	.titulo {
		font-size: 2em;
		padding: 0 20px;
	}

	.frase {
		font-size: 2em;
		margin-bottom: 10px;
	}

	.description {
		font-size: 0.7em;
		margin-top: 30px;
		text-align: center;
		padding: 0 30px;
	}
	/* Fin Home */

	/* Responsive registro */
	.form .column {
		flex-wrap: wrap;
	}
	/* Fin registro */
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
	.log_out_container_move {
		right: 28%;
	}
}
/* Fin responsive */
