{% extends 'base.html' %} {% block title %}Usuarios Activos{% endblock %} {% block content%}
{% load static %}

<section id="usuariosActivos" class="seccion">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
				<div class="table-responsive">
					<table id="datatable-users" class="table">
						<caption>
							Todos los usuarios Activos
						</caption>
						<thead>
							<tr>
								<th class="centered">#</th>
								<th class="centered">Nombre completo</th>
								<th class="centered">Identificación</th>
								<th class="centered">Email</th>
								<th class="centered">Número de télefono</th>
								<th class="centered">Edad</th>
								<th class="centered">País</th>
								<th class="centered">Acciones</th>
							</tr>
						</thead>
						<tbody id="tablebody_users"></tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</section>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
	crossorigin="anonymous"
></script>
<script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap5.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="{% static 'js/userss_activos.js' %}"></script>

{% endblock %}
